.idea/*
.gradle/*
build
*.iml
local.properties
andhoclib/andhoclib.iml
andhoclib/build
app/app.iml
*.lock
*.bin
*.jar
*.class
*.aar

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.idea/workspace.xml
